body{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    font-family: roboto;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color:white;
    padding-left:100px;
    padding-right:100px;
}

ul{
    list-style-type: none;
    display:flex;
    gap:10px
}

a{
    color: white;
    text-decoration: none;
    align-self: center;

}

.section-one{
    display:flex;
    justify-content:center;
    gap: 50px;
    background-color: #1F2937;
    color:white;
    padding: 50px;
}

.button1{
    background-color: #3882F6;
    color:white;
    border: none;
    border-radius:2px;
    padding: 5px 20px;
}

img{
    max-width:200px;
    border-radius:10px;
}

.special{
    border: 2px solid #3882F6
}

.section-two{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.horizontal{
    display: flex;
    gap: 20px;
}
.horizontal div{
    display: flex;
    flex-direction:column;

}

.section-three{
    padding:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #E5E7EB;
}

h5{
    padding:0;
    margin:0;
}

.section-four{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.blue-container{
    border-radius: 5px;
    margin:50px;
    padding-left:100px;
    padding-right:100px;
    display:flex;
    background-color: #3882F6;
    color:white;
    justify-content: space-around;
    gap:100px;
}

.button2{
    display:flex;
    align-self: center;
    color:white;
    background-color: #3882F6;
    border-radius: 5px;
    border:2px solid white;
}



.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:white;
    padding: 25px;    
}
